# Supabase — récupérer dans : Project Settings → API
EXPO_PUBLIC_SUPABASE_URL=https://ajuqlkpgzvpezrlzubsx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqdXFsa3BnenZwZXpybHp1YnN4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU5OTEzMDUsImV4cCI6MjA4MTU2NzMwNX0.Bw54v22ReLLR3K3uKclhzcCKFld7Jv1gzTZognQrXEo

# RapidAPI (optionnel — pour la recherche de produits wishlist)
EXPO_PUBLIC_RAPIDAPI_KEY=45da7ac535msh90f1176999af090p1abfd1jsn7c24a2d12ce3
EXPO_PUBLIC_RAPIDAPI_HOST=real-time-amazon-data.p.rapidapi.com
